@{
    ViewBag.Title = "Contato";
}
<h2>Contato</h2>

<address>
    Uberlândia<br />
    Rua Alfa, Bairro Leste<br />
    Número 27
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Dionatan@example.com">Dionatan@example.com</a><br />
</address>