@{
    ViewBag.Title = "Sistema Escolar";
}

<div class="jumbotron">
    <h1>Sistema Escolar</h1>
    <p class="lead">Sistema Escolar é uma ferramenta que tem a finalidade de facilitar a Gestão Escolar.</p>
</div>
